header{
  width: 100%;
  background-color: red;
}
header li{
    display: inline-block;
    padding: .5em;
    font-size: 2em;
    color: black;
}
header li a{
    text-decoration: none;
    color: black;
    transition: .3s;
}
header li:hover{
    text-decoration: none;
    color: white;
    transition: .3s;
}
footer{
    width: 99%;
    background-color: black;
    text-align: left;
    color: white;
    position: absolute;
}
footer p{
    padding: .3em;
}
#here{
    background-color: white;
}
#here:hover{
    color: black;
}
.header_mynd{
    width: 100%;
}
.mynd_adalsida {
    width: 100%;
}
.mynd_header {
    max-height: 25em;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 0;
}
.texti_header {
    position: absolute;
	text-align: center;
	color: black;
	background-color: white;
	border-radius: 1em;
	padding: 1em;
	margin: 0 auto;
	width: 20%;
	top: 20%;
	left: 0;
	right: 0;
	z-index: 1;
    opacity: .5;
}
.hopur_myndir {
    padding-top: 1em;
	position: relative;
	width: 50%;
	margin: 0 auto;
}
.hpur_myndir img {
	width: 400px;
	height: 400px;
	float: left;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '«';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.adalmyndir {
    margin: 0 auto;
    width: 40%;
}
.adalmyndir img {
    width: 100%;
    border: 1px solid black;

}
.adalmyndir ul{
    font-size: 3em;
}



/************ form *****************/

fieldset{
	border: 3px solid black;
	background-color: #00c4ff;
	font-size: 1.7em;
}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: .7em;
    font-family: 'Raleway', sans-serif;
    outline: none;
    transition: border 0.5s ease;
}
input[type=text]:focus{
    border: 3px solid black;
    transition: border 0.5s ease;
}
input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: .7em;
    font-family: 'Raleway', sans-serif;
    outline: none;
    transition: border 0.5s ease;
}
input[type=email]:focus{
    border: 3px solid black;
    transition: border 0.5s ease;
}
input[type=submit] {
    width: 100%;
    background-color: #e60808;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}
input[type=submit]:active {
    background-color: #ff0089;
}
textarea{
    max-width: 90%;
}
.error {color: #FF0000;}
.ut input[type=submit]{
    width: 20%;
    background-color: #1400ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}
.nyskodad img{
    width: 10%;
}